name: AI Market Analysis Job

on:
  schedule:
    - cron: '0 9 * * 1' # Запуск каждый понедельник в 09:00 UTC
  workflow_dispatch: # Позволяет запускать вручную кнопкой

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install pandas matplotlib

      - name: Run analysis
        run: |
          python проект_2025_г_ipynb.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Автоматическое обновление анализа" || echo "Нет изменений"
          git push
      - name: Run tests
        run: |
          pytest test_analysis.py
